:root {

  /* COLORS */

  --bg: #09090B;
  --surface: #18181B;
  --surface-2: #202024;

  --primary: #FF4D8D;
  --primary-hover: #FF73A5;

  --secondary: #8B5CF6;
  --accent: #67E8F9;

  --text: #FAFAFA;
  --muted: #A1A1AA;

  --border: rgba(255,255,255,.08);

  /* Radius */

  --radius-sm: 12px;
  --radius-md: 18px;
  --radius-lg: 28px;

  /* Shadow */

  --shadow:

  0 20px 60px rgba(0,0,0,.35);

  /* Transition */

  --transition: .35s ease;

}